{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LiterArte | Seu espaço literário</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" href="{% static 'icones/favicon/favicon.ico' %}" type="image/x-icon">
</head>
<body>

    <header class="CabecalhoPrincipal">
        <div class="LogoSite"><a href="{% url 'index' %}" class="LogoSite">LiterArte</a></div>

        <nav class="MenuHamburguer">
            <button class="botaoBurguer"><img src="{% static 'icones/menuBLack.png' %}"></button>
            <ul class="ListaMenu">
                <li><a href="{% url 'index' %}"><img src="{% static 'icones/botao-de-inicio.png' %}">Início</a></li>
                <li><a href="{% url 'meu_perfil' %}"> <img src="{% static 'icones/perfil.png' %}"> Meu Perfil</a></li>
                <li><a href="{% url 'minha_lista' %}"> <img src="{% static 'icones/pilha-de-livros.png' %}"> Minha Lista</a></li>
                <li><a href="{% url 'login' %}"> <img src="{% static 'icones/sair.png' %}"> Sair</a></li>
            </ul>
        </nav>
    </header>

    <main class="ConteudoPrincipal">

        <section class="SecaoFraseDiaria">
            <p class="FraseLiteraria">
                “A leitura é, provavelmente, uma outra maneira de estar em um lugar.”
            </p>
        </section>

        <section class="SecaoLivros">
            <h2 class="TituloSecao">Livros em destaque</h2>

            <div class="ListaLivros">
                
                {% for livro in livros %}
                <article class="CardLivro">
                    <div class="ImagemLivro">
                        <a href="{% url 'detalhe_livro' livro.id %}">
                            {% if livro.capa %}
                                <img src="{{ livro.capa.url }}" alt="{{ livro.titulo }}">
                            {% else %}
                                <img src="{% static 'img/capa_padrao.png' %}">
                            {% endif %}
                        </a>
                    </div>

                    <div class="InfoLivro">
                        <h2 class="TituloLivro">{{ livro.titulo }}</h2>
                        <p class="AutorLivro">{{ livro.autor.nome }}</p>
                    </div>
                </article>
                {% endfor %}

            </div>
        </section>

    </main>

    <footer class="RodapePrincipal">
        <p>© 2026 — LiterArte - Todos os direitos reservados.</p>
        <p>Desenvolvido com 💜 para amantes da literatura.</p>
    </footer>


    <script src="{% static 'scripts/scripts.js' %}"></script>
</body>
</html>
